# Ignore files for distribution archives.

AGENTS.md          export-ignore
CLAUDE.md          export-ignore
.claude            export-ignore
.ahoy.yml          export-ignore
.circleci          export-ignore
.cspell.json       export-ignore
.devtools          export-ignore
.editorconfig      export-ignore
.eslintignore      export-ignore
.eslintrc.json     export-ignore
.gitattributes     export-ignore
.github            export-ignore
.gitignore         export-ignore
.prettierignore    export-ignore
.prettierrc.json   export-ignore
.skip_npm_build    export-ignore
.stylelintrc.js    export-ignore
.twig-cs-fixer.php export-ignore
Makefile           export-ignore
composer.dev.json  export-ignore
jest.config.js     export-ignore
package-lock.json  export-ignore
package.json       export-ignore
patches            export-ignore
phpcs.xml          export-ignore
phpstan.neon       export-ignore
phpunit.d10.xml    export-ignore
phpunit.xml        export-ignore
rector.php         export-ignore
renovate.json      export-ignore
scripts            export-ignore
tests              export-ignore

