# Ignore files for distribution archives.
tests             export-ignore

# Uncomment the lines below in your project.
# .ahoy.yml       export-ignore
# .circleci       export-ignore
# .editorconfig   export-ignore
# .gitattributes  export-ignore
# .gitignore      export-ignore

# Remove the lines below in your project.
config                            export-ignore
drupal_circleci_example.info.yml  export-ignore
README.md                         export-ignore
LICENSE.                          export-ignore
