# Ignore files for distribution archives.

.editorconfig             export-ignore
.gitignore                export-ignore
composer.json             export-ignore

# Uncomment these lines in your project.
# .circleci                 export-ignore
# .gitattributes            export-ignore
