/**
 * @file
 * Force Crystal styles.
 */

[data-force_crystal-time] {
  color: #f00;
  font-size: 0.875rem;
  padding: 0.5rem;
  text-align: center;
}

[data-force_crystal-time].force_crystal-processed {
  opacity: 1;
  transition: opacity 0.3s ease;
}
