##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#

parameters:

  level: 9

  paths:
    - src
    - ../../.devtools/assemble
    - ../../.devtools/deploy
    - ../../.devtools/helpers.php
    - ../../.devtools/provision
    - ../../.devtools/start
    - ../../.devtools/stop
    - ../../init.php

  scanFiles:
    - ../../init.php

  excludePaths:
    - vendor/*
    - node_modules/*

  ignoreErrors:
    -
      # Since tests and data providers do not have to have parameter docblocks,
      # it is not possible to specify the type of the parameter, so we ignore
      # this error.
      message: '#.*no value type specified in iterable type array.#'
      reportUnmatched: false
    -
      # Devtools scripts decode JSON into mixed arrays and access nested keys
      # directly; strict offset typing is impractical for these scripts.
      identifier: offsetAccess.nonOffsetAccessible
      paths:
        - ../../.devtools/*
      reportUnmatched: false
